.hdr-cmp {
  background-color: $black;
  color: $white;
  padding: 2rem 0;

  &__logo {
    background-color: $white;
    mask-image: url('~@/assets/logo.svg');
    display: inline-block;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 0 auto 2rem;
  }

  &__title {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
  }
}
