.hdr-cmp {
  align-items: center;
  display: flex;
  padding: 0;
  height: 50px;
  background-color: $black;
  color: $white;

  &__logo {
    background-color: $white;
    mask-image: url('~@/assets/logo.svg');
    display: inline-block;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    cursor: pointer;

    margin: 0 0 0 10px;
    flex: 0 1 30px;
    width: 30px;
    height: 30px;
  }

  &__title {
    font-family: $open-sans;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;

    text-align: left;
    flex: 1 0 auto;
    padding: 0 0 0 15px;
  }
}

@media screen and (min-width: 576px) {
  .hdr-cmp {
    padding: 2rem 0;
    height: unset;
    align-items: unset;
    display: block;

    &__logo {
      width: 200px;
      height: 200px;
      margin: 0 auto 2rem;
      flex: unset;
    }

    &__title {
      text-align: center;
      flex: unset;
      padding: 0;
    }
  }
}
